<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Golf Club Distance</title>
</head>
<body>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Golf Club Distances: </h1>
        <ul class="golfClubs">
        <% for(let i=0; i < club.length; i++) {%>
            <li class="item">
                <% if(club[i].clubAdded === false) {%>
                    <span class='completed'><%= club[i].clubLength %></span>
                <% }else{ %>
                    <span><%= club[i].clubLength %></span>
                <% } %>    
                <span class='fa fa-trash'></span>
            </li>
        <% } %>
        </ul>
    
        <h2>Clubs Added: <%= added %></h2>
    
        <h2>Add A Club:</h2>
    
        <form action="/addClub" method="POST">
            <input type="text" placeholder="Add Club & Distance(yrds)" name="golfClub">
            <input type="submit">
        </form>
        
    
        <script src='js/main.js'></script>
    
</body>
</html>